.promo__background {
  min-height: 73vh;
  background-image: url("../../img/promo-mobile.jpg");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/promo-mobile2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 82vh;
    background-image: url("../../img/promo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/promo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 80vh;
    background-image: url("../../img/promo-desktop.jpg");
    margin-right: calc(50% - 45vw);
    margin-left: calc(50% - 45vw);

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/promo-desktop@2x.jpg");
    }
  }
}
