@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("../../fonts/montserrat-v15-latin_cyrillic-300.woff2"),
  url("../../fonts/montserrat-v15-latin_cyrillic-300.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("../../fonts/montserrat-v15-latin_cyrillic-500.woff2"),
  url("../../fonts/montserrat-v15-latin_cyrillic-500.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
